root = true

[*]
charset                           = utf-8
indent_style                      = space
indent_size                       = 4
end_of_line                       = lf
insert_final_newline              = true
trim_trailing_whitespace          = true
ij_typescript_object_literal_wrap = on_every_item
ij_typescript_object_types_wrap   = on_every_item
